.screen {
  transition: 0.5s ease;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border-radius: 20px;
  background: #333532;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.screen div {
  background: #3a3c39;
  border: 1px solid #333532;
}
