.screen {
  transition: 0.5s ease;
  width: 400px;
  height: 400px;
  background: #191f17;
  padding: 20px;
  border-radius: 20px;
}

.board {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.board div {
  background: #292b29;
  border: 1px solid #333532;
}
