.controls-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    width: 350px;
  }
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .button-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .control-button {
      cursor: pointer;
      display: flex;
      font-size: 30px;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
    }

    .direction-button-horizontal {
      width: 80px;
      height: 60px;
      margin-left: 25px;
      margin-right: 25px;

      @media (min-width: 768px) {
        width: 90px;
        height: 60px;
      }
    }

    .direction-button-vertical {
      width: 60px;
      height: 80px;

      @media (min-width: 768px) {
        width: 60px;
        height: 90px;
      }
    }
    .start-button {
      margin-top: 20px;
      font-family: inherit;
      width: 120px;
      height: 67px;
      font-size: 22px;

      @media (min-width: 768px) {
        width: 160px;
        height: 70px;
        font-size: 45px;
      }
    }
  }
}
