.controls-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media (min-width: 768px) {
    width: 350px;
  }
}

.button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;

  .button-container {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .control-button {
      -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
      box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 30px;

      -webkit-box-pack: center;

      -ms-flex-pack: center;

      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 30px;
    }

    .direction-button-horizontal {
      width: 80px;
      height: 60px;
      margin-left: 25px;
      margin-right: 25px;

      @media (min-width: 768px) {
        width: 90px;
        height: 60px;
      }
    }

    .direction-button-vertical {
      width: 60px;
      height: 80px;

      @media (min-width: 768px) {
        width: 60px;
        height: 90px;
      }
    }
    .start-button {
      margin-top: 20px;
      font-family: inherit;
      width: 120px;
      height: 67px;
      font-size: 22px;

      @media (min-width: 768px) {
        width: 160px;
        height: 70px;
        font-size: 45px;
      }
    }
    .button-active {
      -webkit-transform: translateY(2px) translateX(2px);
      -ms-transform: translateY(2px) translateX(2px);
      transform: translateY(2px) translateX(2px);
      -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
      box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
    }
  }
}
